body{

}

#div_container_main{
	margin: 0 40px 50px 40px;
}

.container_main_h3{
	text-align: center;
}

.div_taste{
	text-align: center;
	/*将正文块背景设置为一个个灰方块*/
	/*background-color:darkgray;*/
    /*color:white;*/
    margin:20px;
    padding:20px;
}

.taste_start{
	margin-left: 300px;
	margin-right: 300px;
	border-color: gold;
}

.taste_over{
	border-color: blue;
	border-width: thin;
}

#ol_mao{
	padding: 0;
	list-style: none;
}

#ol_mao li{
	text-align: center;
}

#div_footer{
	text-align: center;
}

#div_footer hr{
	color: red;
}